<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> 
    
    <title>YOUTUBE UI</title>
    
</head>

<body>
    <script src="home.js"></script>

    <nav class="flex-div">
    <div class="nav-left flex-div">
        <img src="/static/images/menu.png" class="menu-icon">
        <img src="/static/images/logo.png" class="logo">

    </div>
    <div class="nav-middle flex-div">
        <div class="search-box">
            <input type="text" placeholder="search">
            <img src="/static/images/search.png" alt="">
        </div>
        <img src="/static/images/mic.png" class="mic-icon">
    </div>
    <div class="nav-right flex-div">
        <img src="/static/images/playlist.png" >
        <img src="/static/images/bell.png" >
        <img src="/static/images/person-1.jpeg" class="user-icon">
    </div>
</nav>
    <div class="sidebar small-sidebar">
        <div class="shortcut-links">
         <a href="a"><img src="/static/images/home.png"><p>Home</p></a><br>
         <a href="a"><img src="/static/images/explore.png"><p>Explore</p></a><br>
         <a href="a"><img src="/static/images/subscription.png"><p>Subscriptions</p></a><br>
         <a href="a"><img src="/static/images/library.png"><p>Library</p></a><br>
         <a href="a"><img src="/static/images/history.png"><p>History</p></a><br>
         <a href="a"><img src="/static/images/messages.png"><p>Messages</p></a><br>
         <a href="a"><img src="/static/images/show-more.png"><p></p>Showmore</p></a><br>
         <hr>
         </div>
        <div class="subscribed-list">
            <h3>Subscribed</h3>
            <a href="a"><img src="/static/images/person-1.jpeg">Python</a><br>
            <a href="a"><img src="/static/images/person-2.jpeg">Java</a><br>
            <a href="a"><img src="/static/images/person-3.jpeg">JavaScript</a><br>
            <a href="a"><img src="/static/images/person-4.jpeg">React</a><br>
            <a href="a"><img src="/static/images/person-5.jpeg">C</a><br>
            <a href="a"><img src="/static/images/person-6.jpeg">c++</a><br>
       </div>
    </div>
<div class="container large-container">
    <div class="banner">
        <img src="/static/images/banner.jpg">
    </div>
    <div class="list_container">
    {%for i in datum%}
       <div class="vid-last">
            <a href=""><img src="{{i.thumbnail}}" alt="" class="thumbnail_size"></a>
            <div class="flex-div">
                <a href=""><img src="{{i.photos}}" alt="" class="photos_size"></a>
                <div class="vid-info">
                    <h4>{{i.description}}</h4>
                    <p>{{i.views}}</p>
                    <p>{{i.channel}}</p>
                    <p>{{i.uploaded_time}}</p>
                </div>
            </div>
       </div>
   {%endfor%}
   </div>
</div>
</body>
</html>
